* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgba(2, 2, 97, 0.842);
}

header {
    padding: 50px;
    text-align: center;
    color: white;
}

#params {
    background-color: rgba(255, 255, 255, 0.76);
    color: black;
}

#params>div {
    padding: 30px;
    width: 100%;
    justify-content: space-between;
}

#more_filt {
    padding-top: 20px;
    padding-left: 0;
}

h6 {}